{#
 # Partial template for data source entry row action buttons.
 #
 # Variables:
 # @var string dataSourceId - Data source identifier
 # @var DataSourceInterface dataSource - The data source instance
 # @var string|int entityId - ID of the entry
 #}

{% import kachnitel_admin_theme as css %}

<td class="actions">
    {% if dataSource.supportsAction('show') %}
        <a href="{{ path('app_admin_datasource_show', { dataSourceId: dataSourceId, id: entityId }) }}" class="{{ css.btn_outline_primary() }} {{ css.btn_sm() }}">
            View
        </a>
    {% endif %}
</td>
