{#
 # Save button template for forms.
 #}

{% import kachnitel_admin_theme as css %}

<button type="submit" form="{{ formId|default(form.vars.id) }}" class="{{ css.btn_primary() }}">
  Save
</button>
