{#
 # LiveComponent-powered entity list template.
 # Use this instead of index.html.twig for reactive lists.
 #
 # Variables:
 # @var string entityClass - Full class name of the entity
 # @var string entityShortClass - Short class name of the entity
 # @var string|null repositoryMethod - Custom repository method for query
 #}
{% extends kachnitel_admin_base_layout ?: '@KachnitelAdmin/admin/base.html.twig' %}

{% import kachnitel_admin_theme as css %}

{% block headerTitle %}
    {{ title|default(entityShortClass ~ ' List') }}
{% endblock %}

{% block headerButtons %}
    {% if admin_action_accessible(entityShortClass, 'new') %}
        <a href="{{ admin_object_path(entityClass, 'new', { class: entityShortClass }) }}" class="{{ css.btn_primary() }}">
            ➕ New
        </a>
    {% endif %}
{% endblock %}

{% block content %}
    {% component 'K:Admin:EntityList' with {
        entityClass: entityClass,
        entityShortClass: entityShortClass,
        repositoryMethod: repositoryMethod|default(null)
    } %}
        {# Override blocks from component template as needed #}
    {% endcomponent %}
{% endblock %}
