{#
 # LiveComponent-powered entity list template.
 # Use this instead of index.html.twig for reactive lists.
 #
 # Variables:
 # @var string entityClass - Full class name of the entity
 # @var string|null repositoryMethod - Custom repository method for query
 #}
{% extends 'layout.html.twig' %}

{% set entityShortClass = entityClass|replace({ 'App\\Entity\\': '' }) %}

{% block headerTitle %}
    {{ title|default(entityShortClass ~ ' List') }}
{% endblock %}

{% block headerButtons %}
    {% if entityClass|hasRoute('new') and isRouteAccessible(entityClass|getRoute('new')) %}
        <a href="{{ objectPath(entityClass, 'new', { class: entityShortClass }) }}" class="btn btn-primary">
            <span class="material-icons">add</span>
            New
        </a>
    {% endif %}
{% endblock %}

{% block content %}
    {% component AdminEntityList with {
        entityClass: entityClass,
        repositoryMethod: repositoryMethod|default(null)
    } %}
        {# Override blocks from component template as needed #}
    {% endcomponent %}
{% endblock %}
