{# Integer type preview template with clickable ID support #}
{% import kachnitel_admin_theme as css %}

{% if property == 'id' and entity|admin_has_route('show') and admin_route_accessible(entity|admin_get_route('show')) %}
    <a href="{{ admin_object_path(entity, 'show') }}" class="{{ css.text_no_decoration() }}">
        {{ value }}
    </a>
{% else %}
    {{ value }}
{% endif %}
