{#
 # StringField - inline text editor for string properties.
 #   this.currentValue - ?string
 #   this.editMode     - bool
 #   this.canEdit()    - bool
 #}
<span {{ attributes }}>
    {% if editMode and this.canEdit() %}
        <input
            type="text"
            class="form-control form-control-sm"
            data-model="currentValue"
            value="{{ this.currentValue }}"
            autofocus
        />
        <button type="button" data-action="live#action" data-live-action-param="save"
            class="btn btn-sm btn-success">✓</button>
        <button type="button" data-action="live#action" data-live-action-param="cancelEdit"
            class="btn btn-sm btn-secondary">✕</button>
    {% else %}
        <span class="field-editable-cell">
            {% include '@KachnitelAdmin/components/field/_display.html.twig' %}
            {% if this.canEdit() %}
                <button type="button" class="field-edit-trigger"
                    data-action="live#action" data-live-action-param="activateEditing"
                    title="Edit">✎</button>
            {% endif %}
        </span>
    {% endif %}
</span>
