{#
 # StringField - inline text editor for string properties.
 #   this.currentValue - ?string
 #   this.editMode     - bool
 #   this.canEdit()    - bool
 #}
<span {{ attributes }}>
    {% if editMode and this.canEdit() %}
        <input
            type="text"
            class="form-control form-control-sm"
            data-model="currentValue"
            value="{{ this.currentValue }}"
        />
        <button type="button" data-action="live#action" data-live-action-param="save"
            class="btn btn-sm btn-success">✓</button>
        <button type="button" data-action="live#action" data-live-action-param="cancelEdit"
            class="btn btn-sm btn-secondary">✕</button>
    {% else %}
        {% include '@KachnitelAdmin/components/field/_display.html.twig' %}
    {% endif %}
</span>
