services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    # Make controllers public
    Frd\AdminBundle\Controller\:
        resource: '../src/Controller'
        tags: ['controller.service_arguments']

    # Services
    Frd\AdminBundle\Service\:
        resource: '../src/Service'

    # Twig Extensions
    Frd\AdminBundle\Twig\Extension\:
        resource: '../src/Twig/Extension'
        exclude: '../src/Twig/Extension/AdminConfigExtension.php'
        tags: ['twig.extension']

    # Admin config extension (provides Twig globals)
    Frd\AdminBundle\Twig\Extension\AdminConfigExtension:
        arguments:
            $baseLayout: '%frd_admin.base_layout%'
        tags: ['twig.extension']

    # Twig Runtimes
    Frd\AdminBundle\Twig\Runtime\:
        resource: '../src/Twig/Runtime'
        tags: ['twig.runtime']

    # LiveComponents
    Frd\AdminBundle\Twig\Components\:
        resource: '../src/Twig/Components'
        tags: ['twig.component']

    # EntityList component with pagination config
    Frd\AdminBundle\Twig\Components\EntityList:
        arguments:
            $defaultItemsPerPage: '%frd_admin.pagination.default_items_per_page%'
            $allowedItemsPerPage: '%frd_admin.pagination.allowed_items_per_page%'

    # Generic Admin Controller (auto-discovers entities via #[Admin] attribute)
    Frd\AdminBundle\Controller\GenericAdminController:
        arguments:
            $entityDiscovery: '@Frd\AdminBundle\Service\EntityDiscoveryService'
            $routePrefix: '%frd_admin.route_prefix%'
            $dashboardRoute: '%frd_admin.dashboard_route%'
            $entityNamespace: '%frd_admin.entity_namespace%'
        tags: ['controller.service_arguments']
