services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    # Make controllers public
    Frd\AdminBundle\Controller\:
        resource: '../src/Controller'
        tags: ['controller.service_arguments']

    # Services
    Frd\AdminBundle\Service\:
        resource: '../src/Service'

    # Twig Extensions
    Frd\AdminBundle\Twig\Extension\:
        resource: '../src/Twig/Extension'
        tags: ['twig.extension']

    # Twig Runtimes
    Frd\AdminBundle\Twig\Runtime\:
        resource: '../src/Twig/Runtime'
        tags: ['twig.runtime']

    # LiveComponents
    Frd\AdminBundle\Twig\Components\:
        resource: '../src/Twig/Components'
        tags: ['twig.component']

    # Generic Admin Controller (conditionally enabled via configuration)
    Frd\AdminBundle\Controller\GenericAdminController:
        arguments:
            $supportedEntities: '%frd_admin.entities%'
            $routePrefix: '%frd_admin.route_prefix%'
            $dashboardRoute: '%frd_admin.dashboard_route%'
            $entityNamespace: '%frd_admin.entity_namespace%'
        tags: ['controller.service_arguments']
