services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    # Make controllers public
    Kachnitel\AdminBundle\Controller\:
        resource: '../src/Controller'
        tags: ['controller.service_arguments']

    # Services
    Kachnitel\AdminBundle\Service\:
        resource: '../src/Service'

    # Twig Extensions
    Kachnitel\AdminBundle\Twig\Extension\:
        resource: '../src/Twig/Extension'
        exclude: '../src/Twig/Extension/AdminConfigExtension.php'
        tags: ['twig.extension']

    # Admin config extension (provides Twig globals)
    Kachnitel\AdminBundle\Twig\Extension\AdminConfigExtension:
        arguments:
            $baseLayout: '%kachnitel_admin.base_layout%'
        tags: ['twig.extension']

    # Twig Runtimes
    Kachnitel\AdminBundle\Twig\Runtime\:
        resource: '../src/Twig/Runtime'
        tags: ['twig.runtime']

    # AdminRouteRuntime with additional dependencies for permission checks
    Kachnitel\AdminBundle\Twig\Runtime\AdminRouteRuntime:
        arguments:
            $entityDiscovery: '@Kachnitel\AdminBundle\Service\EntityDiscoveryService'
            $formRegistry: '@form.registry'
            $formNamespace: '%kachnitel_admin.form_namespace%'
            $formSuffix: '%kachnitel_admin.form_suffix%'
        tags: ['twig.runtime']

    # LiveComponents
    Kachnitel\AdminBundle\Twig\Components\:
        resource: '../src/Twig/Components'
        tags: ['twig.component']

    # EntityList component with pagination config and entity discovery
    Kachnitel\AdminBundle\Twig\Components\EntityList:
        arguments:
            $entityDiscovery: '@Kachnitel\AdminBundle\Service\EntityDiscoveryService'
            $defaultItemsPerPage: '%kachnitel_admin.pagination.default_items_per_page%'
            $allowedItemsPerPage: '%kachnitel_admin.pagination.allowed_items_per_page%'
            $formNamespace: '%kachnitel_admin.form_namespace%'
            $formSuffix: '%kachnitel_admin.form_suffix%'

    # Generic Admin Controller (auto-discovers entities via #[Admin] attribute)
    Kachnitel\AdminBundle\Controller\GenericAdminController:
        arguments:
            $entityDiscovery: '@Kachnitel\AdminBundle\Service\EntityDiscoveryService'
            $routePrefix: '%kachnitel_admin.route_prefix%'
            $dashboardRoute: '%kachnitel_admin.dashboard_route%'
            $entityNamespace: '%kachnitel_admin.entity_namespace%'
            $requiredRole: '%kachnitel_admin.required_role%'
        tags: ['controller.service_arguments']

    # Security Voter for entity admin access control
    Kachnitel\AdminBundle\Security\AdminEntityVoter:
        arguments:
            $entityDiscovery: '@Kachnitel\AdminBundle\Service\EntityDiscoveryService'
            $defaultRequiredRole: '%kachnitel_admin.required_role%'
            $entityNamespace: '%kachnitel_admin.entity_namespace%'
            $roleHierarchy: '@?security.role_hierarchy'
        tags: ['security.voter']
