<div {{ attributes }}>
    <input
        type="{{ type }}"
        class="form-control form-control-sm"
        placeholder="Filter {{ column|humanize }}..."
        data-model="debounce(300)|value"
        value="{{ this.value }}"
    >
</div>
